<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>Restful Blog Cat</title>
</head>
<body>
    
    <div class="ui menu">
        <div class="header item">
            <i class="smile icon"></i>
          RESTful Blog Cat
        </div>
        <a class="item" href="/blogs">
          Main Page
        </a>
        <a class="item" href="/blogs/new">
          New Post
        </a>
       
      </div>
