<%- include("partials/header") %>
<div class="ui main container">
<form class="ui form" action="/blogs/new" method="POST">
<label >Title</label>
<input type="text" name="blog[title]" placeholder="title">
<label>Image</label>
<input type="text" name="blog[image]" placeholder="image">
<label>Blog Content</label>
<textarea name="blog[body]"  cols="30" rows="10"></textarea>
<input class="ui blue button"    type="submit">




</form>






<%- include("partials/footer") %>
</div>
